.overflow-a {
    overflow-x: none;
    overflow-y: auto;
}

.chat-incomming {
    border-radius: 1.2rem;
    max-width: 85%;
}

.chat-outgoing {
    border-radius: 1.2rem;
    max-width: 85%;
}

.chat-incomming img,
.chat-outgoing img {
    padding: 0.3em;
    max-width: 100%;
    max-height: 100%;
}

#conversations div:hover {
    background: var(--light) !important;
}

#conversations div.active:not(:hover) {
    background: var(--primary) !important;
    color: var(--light) !important;
}